/*------------------------------------*\
	$DEBUG
\*------------------------------------*/
$debug-mode: false !default;

/*------------------------------------*\
	$SETUP
\*------------------------------------*/
$global-border-box: false !default;
$old-ie:  false !default;

/*------------------------------------*\
	$RESPONSIVENESS
\*------------------------------------*/
$flexible-media: true !default;
$mq-responsive: true !default;

$mq-breakpoints: (

	macro-smallest: 320px,
    macro-small: 480px,
    macro-medium: 768px,
    macro-large: 1100px,
    macro-largest: 1248px,

) !default;

$mq-static-breakpoint: macro-large !default;

/*------------------------------------*\
	$Z-INDEX Management
\*------------------------------------*/

$z-layers: (
  "default": 1,
  "below": -1,
  "layout-arrow": 10,
  "facility-box-title": 10
);


/*------------------------------------*\
	$BASE
\*------------------------------------*/

/**
 * Base spacing units
 */
$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;
$double-spacing-unit: $base-spacing-unit * 2;


/*------------------------------------*\
	$SUSY CONFIG
\*------------------------------------*/

$total-columns: 12;            		   // a 12-column grid
$column-width: 70px;            	   // each column is 4em wide
$gutter-width: $base-spacing-unit;	 // 1em gutters between columns
$grid-padding: $double-spacing-unit; // wider grid padding to give the brand some space

$susy: (
  columns: $total-columns,
  gutters: $gutter-width / $column-width,
  column-width: $column-width,
);



/*------------------------------------*\
	$COLOURS
\*------------------------------------*/

/**
 * Generic colours
 */
$white: rgb(255,255,255);
$black: rgb(0,0,0);

