/*------------------------------------*\
	$RESPONSIVENESS
\*------------------------------------*/
$flexible-media: true !default;
$mq-responsive: true !default;

$mq-breakpoints: (
	  macro-smallest: 320px,
    macro-small: 480px,
    macro-medium: 768px,
    macro-large: 1100px,
    macro-largest: 1248px,

) !default;

$mq-static-breakpoint: macro-large !default;

/*------------------------------------*\
	$BASE
\*------------------------------------*/

/**
 * Base spacing units
 */
$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;
$double-spacing-unit: $base-spacing-unit * 2;


/*------------------------------------*\
	$SUSY CONFIG
\*------------------------------------*/

$total-columns: 12;            		   
$column-width: 70px;            	   
$gutter-width: $base-spacing-unit;	 
$grid-padding: $double-spacing-unit;

$susy: (
  columns: $total-columns,
  gutters: $gutter-width / $column-width,
  column-width: $column-width,
);

/*------------------------------------*\
	$COLOURS
\*------------------------------------*/

$white: rgb(255,255,255);
$black: rgb(0,0,0);

